header{
    background:url(imagens/bg2.jpg);
    padding: 20px 0;
    
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {

    position: absolute;
    top: 110px;
    right: 20px;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;

}

nav a {
    
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color:#c78c19;
    text-decoration: underline;
}

#banner{
    width: 100%;
    opacity: 0.5;  
}

.titulo-centralizado{
    padding: 20px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

.info{
    
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.info li:hover{
    border-color: #c78c19;
}

.info li:active{
    border-color: #088c19;
}

.info li:hover h3{

    font-size: 34px;

}

.info li:hover .info-descricao{

    font-weight: bold;

}

.info li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align:top;
    margin: 0 1.5%; 
    padding: 50px 20px;
    box-sizing: border-box;
    border: 2px solid #000;
    border-radius: 10px;
  
}

.info h3{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    

}

.info-descricao{
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#mapa{
    width: 100%;
    padding: auto 0;
}

#missao{
    width: 100%;
    margin-bottom: 98px;
}

#beneficios{
    width: 100%;
    padding: auto 0;
    margin-bottom: 29px;
    
}

footer{
    text-align: center;
    background:url(imagens/bg.jpg);
    padding: 40px 0;
    
}

.copyright{
    color: #CCC;
    font-size: 13px;
    margin-top: 20px;
}